<h3 class="mb-12 text-center text-4xl font-bold text-blue-navy lg:text-5xl">
  ¡Bienvenido!
</h3>
<form class="text-white w-full md:min-w-[350px]">
  <div class="flex flex-col">
    <label class="mb-2 text-blue-navy" for="">Usuario</label>
    <input
      class="border-b-2 border-blue-navy bg-transparent px-2 py-1 text-blue-navy"
      type="text"
      placeholder="Ej. alfred1@Ticketly.com"
    />
  </div>

  <div class="flex flex-col">
    <label class="mb-2 mt-4 text-blue-navy" for="">Contraseña</label>
    <input
      class="border-b-2 border-blue-navy bg-transparent px-2 py-1 text-blue-navy"
      type="password"
    />
  </div>

  <div class="flex justify-end">
    <button
      class="mt-6 w-full rounded-lg bg-green-dark px-4 py-4 text-white-normal lg:w-auto"
    >
      Ingresar
    </button>
  </div>

  <p class="mt-2 text-center font-normal text-blue-navy lg:text-left">
    <span class="text-sm">¿No tienes cuenta?, </span>
    <a class="text-sm underline underline-offset-2" href="">Registrate</a>
  </p>
</form>
